.sidebar {
    position: fixed;
    top: 0;
    left: -300px;
    width: 300px;
    height: 100%;
    background-color: #114fb8;
    color: #fff;
    border-radius: 0px 20px 20px 0px;
    box-shadow: 5px 0 5px rgba(0, 0, 0, 0.201);
    transition: left 0.8s ease;
    z-index: 1000;
    padding: 20px;
    overflow-y: auto;
  }
  
  .sidebar.open {
    left: 0;
  }

  .close-btn {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
    right: 20px;
    bottom: 20px;
    color: #114fb8;
    border: none;
    border-radius:40px;
    background-color: #ffffff;
    font-size: 33px;
    cursor: pointer;
  }
  
  .sidebar-content {
    margin-top: 25px;
    padding: 20px;
  }

  .sidebar-logo-container {
    display: flex;
    align-items: center;
    margin: 0.5rem 1rem;
    gap: 3rem;
  }
  
  .sidebar-logo {
    height: 40px;
    width: auto;
  }
  
  .sidebar-logo-text {
    font-size: 1.5rem;
    font-weight: bold;
    color: #ffffff;
  }
  
  .sidebar-menu {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .sidebar-nav-btn {
    display: flex;
    align-items: center;
    text-align: left;
    padding: 12px 15px;
    color: #ffffff;
    background: none;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0s ease, transform 0.3s ease;

  }
  
  .sidebar-nav-btn:hover {
    background-color: #ffffffad;
    border-radius: 15px;
    color: #114fb8;

    transform: translateX(5px);
  }
  
  /* Active state */
  .sidebar-nav-btn.active {
    background-color: #edf2f5;
    color: #1976d2;
    font-weight: 500;
  }

  .sidebar-icon {
    height: 20px;
    width: auto;
    margin-right: 10px;
    justify-content: center;
    align-items: center;
  }


  /* general info sub btns */

.sidebar-nav-group {
  display: flex;
  position: relative;
  flex-direction: column;
  margin-bottom: 5px;
}

.sidebar-submenu {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  position: relative;
  padding-left: 15px;
}

.sidebar-sub-btn {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: flex-start; 
  text-align: left; 
  padding: 8px 15px;
  background: none;
  border: none;
  color: #ffffff;
  font-size: 0.9rem;
  cursor: pointer;
  transition: background-color 0s ease, transform 0.3s ease;
  width: 100%;
}

.sidebar-sub-btn:hover {
  background-color: #ffffffad;
  border-radius: 15px;
  color: #114fb8;
  transform: translateX(5px);
}

.sidebar-sub-btn .sidebar-icon {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}


.sidebar-sub-btn::before {
  content: "";
  position: absolute;
  left: -29px;
  top: 0%;
  width: 38px;
  height: 20px;
  border-left: 2px solid #cccccc84;
  border-top: 2px solid #cccccc84;
  border-radius: 10px 0 0 0;
  transform: translateY(-60%) rotate(-90deg);
}

.lms-side-btn::before , .std-bus-side-btn::before {
  left: -20px;
  top: 30%;
  width: 20px;
  height: 20px;
}

