
.student-bus-card-header {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
  font-family: 'Segoe UI', system-ui, sans-serif;
}

.bus-card-header {
  text-align: center;
  margin-bottom: 3rem;
  background: linear-gradient(135deg, #53697f 0%, #3498db 100%);
  padding: 2rem;
  border-radius: 10px;
  color: white;
}

.bus-card-header h1 {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
  text-align: center;
}

.subtitle {
  font-size: 1.2rem;
  opacity: 0.9;
  font-weight: 300;
}

.student-bus-card {
  max-width: 1000px;
  margin: auto;
  padding: 30px;
  font-family: "Segoe UI", sans-serif;
  color: #2c3e50;
  background-color: #ffffff;
}

/* .student-bus-card h1 {
  text-align: center;
  color: #0b7dda;
  font-size: 2.4rem;
  margin-bottom: 40px;
} */

section {
  background-color: #f3f8fd;
  border-radius: 12px;
  padding: 25px;
  margin-bottom: 40px;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.08);
}

.card-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 20px;
  margin-bottom: 20px;
}

.card-details p {
  margin-top: 10px; 
  margin-bottom: 10px; 
}

.card-details img {
  width: 220%;
  max-width: 300px;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
  margin-top: 10px;
}

.card-comparison table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.card-comparison th,
.card-comparison td {
  border: 1px solid #ccc;
  padding: 12px;
  text-align: center;
  font-size: 1rem;
}

.card-comparison th {
  background-color: #d9eefe;
  font-weight: 600;
}

.card-comparison td {
  background-color: #ffffff;
}

.card-info p {
  margin-top: 10px; 
  margin-bottom: 10px; 
}

.card-info img {
  width: 180%;
  max-width: 300px;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
  margin-top: 10px;
}


a {
  color: #0b7dda;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.app-download img {
  width: 80px;
  margin: 10px 0;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
  margin-top: 10px;
  
}

.download-links a {
  display: inline-block;
  margin: 10px 10px 0 0;
  padding: 10px 18px;
  background-color: #0b7dda;
  color: white;
  border-radius: 8px;
  font-weight: 500;
  transition: 0.3s ease;
}

.download-links a:hover {
  background-color: #085ca1;
}

.app-usage img {
  margin-top: 15px;
  width: 100%;
  max-width: 420px;
  border-radius: 12px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

ul {
  /* padding-left: 20px; */
  display: inline-block;         
  text-align: left;            
  list-style-position: inside;  
  margin-top: 15px;
  padding-left: 0;
}

li {
  margin-bottom: 10px;
  list-style-type: none;
  list-style-position: inside;
  text-align: left;
}

/* ol {
  padding-left: 25px;
  margin-top: 10px;
  margin-bottom: 20px;
  list-style-type: decimal;
}

ol li {
  margin-bottom: 10px;
} */